<!--So We Can Load In Our Static Directory Which Has Our CSS-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}"/>
    <link rel="icon" href="{% static 'images/taco_icon.png' %}">
    
    {% block title %}<title>Puppy Rescue</title> {% endblock title %}
</head>
<body>

<div class="container">
<header>
    <div class="banner" id="banner" onclick="handleClick()">Hello World</div>
    <div></div>
</header>        
    <nav>
        <a class="nav-buttons" href="{% url 'home-home' %}">Home</a>
        <a class="nav-buttons" href="{% url 'home-pets' %}">Pets</a>
        <a class="nav-buttons" href="{% url 'home-about' %}">About</a>
        <a class="nav-buttons" href="{% url 'home-contact' %}">Contact</a>
    </nav>


    {% block content %}
    
    {% endblock %}
    
        <!--Holds Smaller Sales Banner At Top-->
    <script src="{% static 'home/js/banner.js' %}"></script>
    <!--Holds Image SlideShow Banner At Top-->
    <script src="{% static 'home/js/img_banner.js' %}"></script> 

<div></div>
    <footer>
        <div class="footer_grid">
            <a href="{% url 'home-home' %}">Home</a>
            <a href="{% url 'home-pets' %}">Pets</a>
            <a href="{% url 'home-about' %}">About</a>
            <a href="{% url 'home-contact' %}">Contact</a>
            <a href="{% url 'home-terms' %}">Terms of use</a>
            <a href="{% url 'home-privacy' %}">Privacy Policy</a>
        </div>
    </footer>
</div>

</body>
</html>