    <!--index.html Main Home Page For Website Landing Page-->
    {% extends "home/base.html" %}
    {% load static %}
    <div class="wrapper">
         <!--Content Block Blocks Other Content From base.html-->
     {% block content%}
     <div class="homepage_content_grid">
     <div class="info_grid">
             <!--For Loop-->
         {% for post in posts %}
             <!--To Access Variables Use Double Curlys-->
             <h3> {{ post.title }} </h3> 
             <p>By {{ post.author }} on {{ post.date_posted }} </p>
             <p>{{ post.content }}</p>
         {% endfor %}
    </div> 
    <div class="image_grid">
         <!--<img src="{% static 'taco_icon.png' %}"alt="Image">-->
         <img src="{% static 'down-button.png' %}" alt="Image">
         <!--<img src="{{ STATIC_URL }}taco_icon.png" alt="Image">-->
    </div>
</div>       
     {% endblock content%} 
 </div>     